:root {

    /* ========= Colors ========= */

    --color-background: #1f2029;
    --color-surface: #2b2d3a;

    --color-primary: #4f73ff;
    --color-primary-hover: #6b89ff;

    --color-text: #ffffff;
    --color-text-secondary: #b8bcc8;

    --color-border: #3c3f50;


    /* ========= Typography ========= */

    --font-family:
        Inter,
        Arial,
        sans-serif;

    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 3rem;


    /* ========= Spacing ========= */

    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 4rem;


    /* ========= Border Radius ========= */

    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-lg: 20px;


    /* ========= Shadows ========= */

    --shadow-sm:
        0 2px 4px rgba(0,0,0,.15);

    --shadow-md:
        0 8px 20px rgba(0,0,0,.25);

    /* ========= Font Weight ========= */

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* ========= Animation ========= */

    --transition-fast: 150ms ease;
    --transition-normal: 250ms ease;

}


body {
  font-family: var(--font-family);
  font-size: var(--font-size-md);

  background: var(--color-background);
  color: var(--color-text);
}

h1 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);

    margin-bottom: var(--space-md);
}

h2 {
    font-size: var(--font-size-lg);
}

p {
    font-size: var(--font-size-md);
    color: var(--color-text-secondary);
}