.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 0;

    background: var(--color-surface-2);

    border-radius: 16px;

    overflow: hidden;
}

.stat {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;

    text-align: center;
}

.stat:not(:last-child) {
    border-right: 1px solid rgba(255,255,255,.08);
}

.stat-label {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    opacity: .6;
}

.stat-value {
    margin-top: .4rem;

    font-size: 1.5rem;
    font-weight: 700;
}