:root {
    --key-unit: 54px;
    --key-gap: .4rem;
}

.keyboard {
    display: flex;
    flex-direction: column;

    gap: .45rem;

    width: fit-content;

    margin: 3rem auto;
    padding: 1.25rem;

    border-radius: 18px;

    background: #1c1c1c;

    align-items: flex-start;
}

.keyboard-row {
    display: flex;
    gap: var(--key-gap);
}

.key {
    flex: 0 0 calc(var(--units) * var(--key-unit));

    height: var(--key-unit);

    position: relative;

    display: flex;
    
    justify-content: center;
    align-items: center;

    overflow: hidden;   

    box-sizing: border-box;

    border-radius: 10px;

    background: #2c2c2c;
    border: 1px solid #3b3b3b;

    color: white;

    font-size: .9rem;

    transition: .15s;

    box-shadow:
        inset 0 -2px 0 rgba(0,0,0,.35),
        0 3px 8px rgba(0,0,0,.25);
}


.key-primary {

    position: absolute;

    bottom: 7px;
    left: 8px;

    font-size: .95rem;
    font-weight: 600;

}

.key-secondary {

    position: absolute;

    top: 6px;
    left: 8px;

    font-size: .65rem;

    opacity: .75;

}

.keyboard-spacer {
    flex: 0 0 calc(var(--units) * var(--key-unit));
}

.key:hover {
    transform: translateY(-2px);
}

.key.active {
    background: #ffd54f;
    color: black;
}

.key.correct {
    background: #4caf50;
}

.key.incorrect {
    background: #f44336;
}
